tgcrypto
asyncio
ffmpeg-python
py-tgcalls
pyrogram==1.4.16
youtube-search-python
yt-dlp
speedtest-cli
youtube-dl
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget
lyricsgenius
yt-dlp
skem
py-tgcalls==0.8.6
pyyaml==5.3.1
